! ###############################
!  _   _ ____               _   
! | | | |  _ \ __  ____   _| |_ 
! | | | | |_) |\ \/ /\ \ / / __|
! | |_| |  _ <  >  <  \ V /| |_ 
!  \___/|_| \_\/_/\_\  \_/  \__|
!
! ###############################

URxvt.font: xft:DejaVu Sans Mono:style=Book:size=11,xft:PowerlineSymbols:style=Medium:size=11
URxvt.internalBorder: 4
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.urgentOnBell: false
URxvt.depth: 32
URxvt.urlLauncher: chromium
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! ### colors ###
! special
URxvt.foreground: #ebdbb2
URxvt.background: #282828 
URxvt.cursorColor: #ebdbb2

! black
URxvt.color0: #282828
URxvt.color8: #3c3836

! red
URxvt.color1: #fb4934
URxvt.color9: #cc241d

! green
URxvt.color2: #b8bb26
.colURxvtor10: #98971a

! yellow
URxvt.color3: #d79921
URxvt.color11: #fabd2f

! blue
URxvt.color4: #83a598
URxvt.color12: #458588

! magenta
URxvt.color5: #d3869b
URxvt.color13: #b16286

! cyan
URxvt.color6: #8ec07c
URxvt.color14: #689d6a

! white
URxvt.color7: #ebdbb2
URxvt.color15: #fbf1c7
