! ###############################
!  _   _ ____               _   
! | | | |  _ \ __  ____   _| |_ 
! | | | | |_) |\ \/ /\ \ / / __|
! | |_| |  _ <  >  <  \ V /| |_ 
!  \___/|_| \_\/_/\_\  \_/  \__|
!
! ###############################

URxvt.font: xft:DejaVu Sans Mono:style=Book:size=11,xft:PowerlineSymbols:style=Medium:size=11
URxvt.internalBorder: 4
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.urgentOnBell: false
URxvt.depth: 32
URxvt.urlLauncher: chromium
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! ### colors ###
! special
urxvt.foreground: #cecfc9
urxvt.background: #1f2430 
urxvt.cursorColor: #cbccc6

! black
urxvt.color0: #002b36
urxvt.color8: #657b83

! red
urxvt.color1: #dc322f
urxvt.color9: #dc322f

! green
urxvt.color2: #86b300
urxvt.color10: #86b300

! yellow
urxvt.color3: #b58900
urxvt.color11: #b58900

! blue
urxvt.color4: #399ee6
urxvt.color12: #399ee6

! magenta
urxvt.color5: #a37acc
urxvt.color13: #a37acc

! cyan
urxvt.color6: #4cbf99
urxvt.color14: #4cbf99

! white
urxvt.color7: #cbccc6
urxvt.color15: #cbccc6
